body{
    text-align: center;
    font-family: Comic Sans MS;
}
.correct{
    color: white;
    background-color: green;
    margin: 0 auto;
    width: 200px;
    padding: 30px 0;
    border: black 2px solid;
}

.incorrect{
    color: white;
    background-color: red;
    margin: 0 auto;
    width: 200px;
    padding: 70px 0;
    border: black 2px solid;
    margin-bottom: 10px;
}